.btn{
    margin-right: 5px;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777;
}

.tableActions{
    width:105px;
}

.todoForm{
    padding-bottom:60px;
}

.btn-custom-clear{
    background-color:#800080;
    color: #f0f0f0;
    outline: none;
}

.btn-custom-clear:active{
    background-color: #660066;
}

.btn-custom-clear:hover{
    color: #f0f0f0;
}

